language: node_js
node_js:
  - "stable"
install:
- npm ci
cache:
  directories:
  - "$HOME/.npm"
script:
  - npm run build
  # - npm test
deploy:
  provider: heroku
  api_key:
    secure: IsRRrc+lOkYgddrp97l01NUwX80XykPgwPq1d5PYtCUmy7Za6HWTOuJMET+vLwiNU8MUzjVS8h6mGESc4SvlODiBraL6jLsVNo5BU4W5eOmN9Di7UA0u5keZe6Pu+LML0wUHWNOLTKhf+smerrAuuOrFCou/SdxS9j1JN+OdhA/87ZXrGheHlSo17fGspyWTQCvQZB+APJn7Jx0PiEkmSe8gLQs2hJNpfgg0qONlkyNpEZG3o0IG4g8xsLEf1jKZxRsIHEqY0kguRA8q1fASytJVPi6kxMnv3nQh3RduLk4JSKPkao0r7QFdbTYVJLoFbk4rx+dmQEB7J1AR6BiyKlPJLBDimdO17VcQFdvwoSuQPhni2Eog1VQIEw2v3+GBV6FUhnpqMqEeIP/4nO3FoQ2VbJzzbGcpCALYlFQVm6EY/TJSbOkTIjRYAdDk8hio+0QEUz+NriL2nbm1WtI+Oja4/dliSr5/EDTpEfl9c9BhKHDLPCA5NYv1NtDCq+pGox/CUGq6UCvhbTYbKvW/WmuIv0VO/CCOLv775ZPs6Tg7FluR8oAS9nNvsTNuIiURq45tjFqJ5HnUFksaAFS/OU+CcebiQbJjKpLkbHI3eLKOIkXH1e4rF1yYHqupNHRK6gykohB+rkNPmqLG0wAuMzV4ceA/EX3eClC2JMZtTb4=
  app: perasports
  on: develop